# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.production

# Uploads
uploads/*
!uploads/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Test
coverage/

# Prisma
prisma/migrations/*_migration_lock.toml
